# This Content is Auto Generated for Pytest
prefix = "{{paths.prefix}}"
{% for path in paths.static_paths %}
{{ path.router_slug }} = "{{path.prefix}}{{ path.route }}"
"""`{{path.prefix}}{{ path.route }}`"""{% endfor %}
{% for path in paths.function_paths  %}

def {{path.router_slug}}({{path.var|join(", ")}}):
    """`{{ paths.prefix }}{{ path.route }}`"""
    return f"{prefix}{{ path.route }}"
{% endfor %}
