.git
.github
.dockerignore
.gitattributes
.gitignore
.idea
.vscode

__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pylintrc
.pytest_cache/
.venv
venv

.DS_Store
.AppleDouble
.LSOverride
._*

*/node_modules
*/dist
*/data/db
*/mealie/test
*/mealie/.temp

model.crfmodel

crowdin.yml
