Jinja2~=3.1.2
Pillow
# Pillow~=9.2.0
PyYAML~=6.0.1
SQLAlchemy~=2.0.19
aiofiles~=23.1.0
alembic~=1.7.5
aniso8601~=9.0.1
appdirs~=1.4.4
apprise~=1.2.0
# bcrypt~=4.0.1
extruct~=0.14.0
fastapi~=0.95.0
gunicorn~=20.1.0
httpx~=0.23.1
lxml~=4.7.1
orjson~=3.8.0
passlib~=1.7.4
psycopg2-binary~=2.9.1
pydantic~=1.10.4
pyhumps~=3.5.3
pytesseract~=0.3.9
# python~=3.10
python-dateutil~=2.8.2
python-dotenv~=1.0.0
python-jose~=3.3.0
python-ldap~=3.3.1
python-multipart~=0.0.6
python-slugify~=8.0.0
recipe-scrapers~=14.26.0
requests~=2.25.1
tzdata~=2022.7
uvicorn[standard]~=0.21.0
beautifulsoup4~=4.11.2