# The Default Group Assigned to All Users
DEFAULT_GROUP=Home

# The Default Credentials for the Super User
DEFAULT_EMAIL=changeme@email.com
DEFAULT_PASSWORD=MyPassword

# Determines Production Mode, This will set the directory path to use for data storage
PRODUCTION=False

# API Port for Python Server
API_PORT=9000

# Exposes /docs and /redoc on the server
API_DOCS=True

# Sets the Database type to use. Note that in order for Postgres URI to be created, you must set DB_ENGINE=postgres
DB_ENGINE=sqlite # Optional: 'sqlite', 'postgres'
POSTGRES_USER=mealie
POSTGRES_PASSWORD=mealie
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mealie
TOKEN_TIME=24

# NOT USED
SFTP_USERNAME=None
SFTP_PASSWORD=None

# NOT USED Auto Import Options 
AUTO_IMPORT=True
AUTO_IMPORT_RECIPES=True
AUTO_IMPORT_SETTINGS=True
AUTO_IMPORT_PAGES=True
AUTO_IMPORT_THEMES=True
AUTO_IMPORT_USERS=True
AUTO_IMPORT_GROUPS=True