.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.narrow-container {
  max-width: 800px !important;
}

.theme--dark.v-application {
  background-color: var(--v-background-base, #121212) !important;
}

.theme--dark.v-navigation-drawer {
  background-color: var(--v-background-base, #121212) !important;
}

.theme--dark.v-card {
  background-color: #2b2b2b !important;
}

.left-border {
  border-left: 5px solid var(--v-primary-base) !important;
}

.handle {
  cursor: grab;
}
