[defaults]
inventory = inventory/hosts.ini
roles_path = roles
interpreter_python = auto_silent
stdout_callback = yaml
bin_ansible_callbacks = True
host_key_checking = False
retry_files_enabled = False
