openstack_auth_url    = "https://example.openstack.identity/v3"
openstack_tenant_name  = "project-name"
openstack_username     = "username"
openstack_password     = "replace-me"
openstack_region       = "KVM@TACC"
instance_name          = "node-integration"
instance_image_name    = "Ubuntu 22.04"
instance_flavor_name   = "m1.small"
keypair_name           = "your-keypair"
network_name           = "sharednet1"
security_group_name    = "mealie-sg"
floating_ip_pool       = "public"
