<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mealie.backend.persistence.mapper.SchemaInfoMapper">

    <select id="findAlembicRevision" resultType="java.lang.String">
        SELECT version_num
        FROM alembic_version
        LIMIT 1
    </select>
</mapper>
